*{
    margin: 0;
    padding: 0;
}
.fundo{    
    background-color: black;
    height: 100vh;
    color: white;

}
.calculadora{
    position: absolute;
    background-color: rgba(180,130,255,0.7);
    border-radius: 5%;
    padding: 10px;
    
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    /*background-image: linear-gradient(30deg, gray, white);*/
    color: rgb(255, 255, 255);
    background-color: black;
    border: none;
    margin: 1px;
    font-weight: bolder;
    border-radius: 15%;
}
.botao:hover{/* quando passa o mouse emcima */
    background-color: lime;
    color: black;
}
#resultado{
    width: 100%;    
    background-image: linear-gradient(175deg, rgb(179, 179, 179), white);
    height: 60px;
    color: black;
    font-weight: bold;
    font-size: inherit;
    text-align: right;
    margin-bottom: 5%;
    border-radius: 4%;
    font-size:x-large;
}