*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: fonte digital;
    src: url('technology.regular.ttf') format('truetype');
    
}
.fundo{    
    background-color: black;
    height: 100vh;
    color: white;
    

}
.calculadora{
    position:absolute;
    background-color: rgb(86, 137, 179);
    border-radius: 5%;
    padding: 5px;    
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    /*background-image: linear-gradient(30deg, gray, white);*/
    color: rgb(255, 255, 255);
    background-color: black;
    border: none;
    margin: 1%;
    font-weight: bolder;
    border-radius: 15%;
}
.botao:hover{/* quando passa o mouse emcima */
    background-color: lime;
    color: black;
}
.botaoOperador{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    /*background-image: linear-gradient(30deg, gray, white);*/
    color: rgb(0, 0, 0);
    background-color: black;
    border: none;
    margin: 1%;
    font-weight: bolder;
    border-radius: 15%;
    background-color: orange;
}
.botaoOperador:hover{/* quando passa o mouse emcima */
    background-color: lime;
    color: black;
}
.botaoIgual{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    /*background-image: linear-gradient(30deg, gray, white);*/
    color: rgb(0, 0, 0);
    background-color: black;
    border: none;
    margin: 1%;
    font-weight: bolder;
    border-radius: 15%;
    background-color: rgb(255, 0, 0);
}
.botaoIgual:hover{
    background-color: lime;
    color: black;
}
/*
.linha{
    display: flex;
    justify-content: flex-end;
}

.raizBotao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    //background-image: linear-gradient(30deg, gray, white);
    color: rgb(0, 0, 0);
    background-color: black;
    border: none;
    margin: 1%;
    font-weight: bolder;
    border-radius: 15%;
    background-color: orange;
}
.raizBotao:hover{
    background-color: lime;
    color: black;
}*/

#resultado{
    width: 100%;    
    background-color: rgb(146, 161, 147);
    height: 60px;
    color: black;    
    text-align:right;
    margin-bottom: 5%;
    font-family: fonte digital;
    font-weight:1000;
    font-size:330%;
    
    transform: translate(-3px);
    border-radius: 7%;   
    border-style: solid;
    border-color: rgb(102, 102, 102);
}